<?xml version="1.0" encoding="UTF-8"?>
<root location="./config/app.xml" version="v1.0.0">
    <app explain="站点配置">
        <host explain="监听主机">0.0.0.0</host>
        <port explain="监听端口">8080</port>
        <cross explain="允许跨域">false</cross>
    </app>
    <log explain="日志配置">
        <console>true</console>
        <is-save>true</is-save>
        <iris explain="日志文件配置">
            <level explain="iris日志等级" value="disable fatal error warn info debug">debug</level>
            <file explain="iris框架日志存储位置">${DIR}/log/app.log</file>
            <err-file explain="错误日志存储位置">${DIR}/log/error.log</err-file>
        </iris>
        <database explain="数据库日志文件">
            <enable explain="启用日志">true</enable>
            <level explain="数据库日志等级" value="silent error warn info">info</level>
            <file explain="数据库日志存储位置">${DIR}/log/mysql.log</file>
        </database>
    </log>
    <database explain="数据库连接配置">
        <drive explain="数据库驱动只支持MYSQL" value="mysql">mysql</drive>
        <host explain="数据库主机">[host]</host>
        <port explain="数据库端口">[port]</port>
        <dbname explain="数据库名称">[DbName]</dbname>
        <username explain="数据库用户名">[username]</username>
        <password explain="数据库连接密码">[password]</password>
        <charset explain="数据库字符集">utf8mb4</charset>
    </database>
    <redis explain="redis连接配置">
        <host explain="连接主机">127.0.0.1</host>
        <port explain="连接端口">6379</port>
        <auth explain="连接认证密码"/>
        <index explain="存储数据库位置" value="0~15">0</index>
        <expire explain="redis存储的默认TTL" value="0:永不过期">0</expire>
    </redis>
    <asset-bundle explain="静态文件配值">
        <template explain="模板目录">${DIR}/resource/template/</template>
        <favicon explain="网站图标">${DIR}/resource/template/favicon.ico</favicon>
        <static explain="静态目录实际地址">
            <uri>/static</uri>
            <path>${DIR}/resource/template/static</path>
        </static>
        <upload explain="上传目录实际地址">
            <maximum explain="上传文件大小 单位: MB">20</maximum>
            <uri explain="上传目录访问地址">/upload</uri>
            <path explain="上传目录实际地址">${DIR}/resource/upload</path>
        </upload>
    </asset-bundle>
</root>