<?xml version="1.0" encoding="UTF-8"?>
<root location="./config/app.xml" version="v1.0.0">
	<app explain="站点配置">
		<host explain="监听主机">0.0.0.0</host>
		<port explain="监听端口">8080</port>
		<allowed-cross explain="允许跨域">false</allowed-cross>
	</app>
	<wechat explain="微信配置">
		<mini-program explain="小程序配置">
			<app-id explain="小程序ID">wx5c80efdd9f6520ad</app-id>
			<app-secret explain="小程序密钥">e32c464f28fe4fd6692ba2d4869760fa</app-secret>
		</mini-program>
		<official-account explain="公众号配置">
			<app-id explain="公众号ID"/>
			<app-secret explain="公众号密钥"/>
			<token/>
			<encoding-aes-key explain="开启AES加密"/>
		</official-account>
	</wechat>
	<log explain="日志配置">
		<output-to-console explain="控制台输出">false</output-to-console>
		<save-to-file explain="是否保存到日志文件">false</save-to-file>
		<iris-level explain="iris日志等级" value="disable fatal error warn info debug">debug</iris-level>
		<gorm-on explain="开启数据库日志">false</gorm-on>
		<gorm-level explain="数据库日志等级" value="silent error warn info">info</gorm-level>
		<db-file explain="数据库日志存储位置">${DIR}/log/mysql.log</db-file>
		<iris-file explain="iris框架日志存储位置">${DIR}/log/app.log</iris-file>
		<err-file explain="错误日志存储位置">${DIR}/log/error.log</err-file>
	</log>
	<database explain="数据库连接配置">
		<drive explain="数据库驱动只支持MYSQL" value="mysql">mysql</drive>
		<host explain="数据库主机">127.0.0.1</host>
		<port explain="数据库端口">3306</port>
		<dbname explain="数据库名称">DbName</dbname>
		<username explain="数据库用户名">root</username>
		<password explain="数据库连接密码">123.com</password>
		<charset explain="数据库字符集">utf8mb4</charset>
	</database>
	<redis explain="redis连接配置">
		<host explain="连接主机">127.0.0.1</host>
		<port explain="连接端口">6379</port>
		<auth explain="连接认证密码"/>
		<index explain="存储数据库位置" value="0~15">0</index>
		<expire explain="redis存储的默认TTL" value="0:永不过期">0</expire>
	</redis>
	<asset-bundle explain="静态文件配值">
		<template explain="模板目录">${DIR}/resources/template/</template>
		<favicon explain="网站图标">${DIR}/resources/template/favicon.ico</favicon>
		<static-uri explain="静态目录访问地址">/static</static-uri>
		<static explain="静态目录实际地址">${DIR}/resources/template/static</static>
		<upload-uri explain="上传目录访问地址">/upload</upload-uri>
		<upload explain="上传目录实际地址">${DIR}/resources/upload</upload>
		<upload-maximum explain="上传文件大小 单位: MB">20</upload-maximum>
	</asset-bundle>
</root>